[2015-09-30 07:17] alexandernesbitt opened #1 "Open a web project functionality not working"
This feature does not seem to do anything upon clicking? Is this something that requires setup at source?

[2015-09-30 07:28] alexandernesbitt opened #2 "Merge BCF feature"
When merging a BCF, how does the 'version control' work? Does it merge topics with the same Topic IDs and then the most recent BCF have its data appended after the original information? I understand their is a 'Topic ID' for each topic, do individual comments have their own GUIDs too?

[2015-09-30 11:09] alexandernesbitt opened #3 "Responsibilities integration"
Does version 2.0.1 support responsibilities aligned with the BCF 2.0 schema?

If I applied an 'Assigned' status, I would like to add who this is assigned to and responsible.

[2015-10-01 19:43] teocomi commented on #2
Yes, comments have guids. So the merge only adds missing comments to issues with the same id.

[2015-10-01 19:47] teocomi commented on #1
That is feature is under development, I just made a mistake and build it in the release version. Will be fixed. Just ignore it for now.

[2015-10-01 19:47] #1 closed, assigned to nobody

[2015-10-01 19:48] teocomi commented on #3
Currently it is not supported.

[2015-10-22 20:23] larsmoa opened #4 "BCFier Revit addon might break GPL license"
Note that the GPL license isn't suitable for writing addons for non-free programs (i.e. Revit). From http://www.gnu.org/licenses/gpl-faq.en.html#GPLPluginsInNF:

I'm not familiar with the technical implementation of Revit addons, but I suspect that this restriction might be relevant for BCFier. However, it should be easy to add an exception as mentioned in the link above.

[2015-10-22 21:42] teocomi commented on #4
Thanks a lot for pointing this out! I'll look into that ;)

[2015-10-26 20:32] #4 closed, assigned to nobody

[2015-10-26 20:33] #2 closed, assigned to nobody

[2015-10-28 22:13] dbaldacchino opened #5 "WISH - Silent Install"
Hi,

I cannot find a way to install this silently. I tried the switch "/silent" and also "/qn" and "/qb" but the install dialog still prompts the user to click. It would be great if there was a way to install silently. Is this a wishlist or am I doing it incorrectly? Thanks!

[2015-10-28 22:20] dbaldacchino commented on #5
I just figured out the problem. "/silent" does work; the problem is that I ran the executable off the network and forgot to unblock it :) Thanks.

[2015-10-28 22:20] #5 closed, assigned to nobody

[2015-11-18 16:06] teocomi opened #6 "project.bcfp not formatted corretly"
ProgectId has been updated to GUID in the project.bcfp schema and has been set to required.

 https://github.com/BuildingSMART/BCF-XML/blob/master/Schemas/project.xsd

[2015-11-26 20:56] #6 closed, assigned to nobody

[2015-11-26 20:56] teocomi commented on #6
Fixed in 2.0.2

[2015-11-27 15:42] GeorgDangl opened #8 "Revit Import - Perspective Camera - Not Perpendicular Vectors Throw Exception"
We're having troubles importing a BCF XML 2.0 Viewpoint into BCFier for Revit when the perspective camera up- and direction vectors are not perpendicular.
The following camera within a perspective camera does cause an exception when the viewpoint is selected:

[code]

The exception is thrown at [this file](https://github.com/teocomi/BCFier/blob/master/Bcfier.Revit/Data/RevitUtils.cs), line 64 (`re

[2015-11-27 16:18] teocomi commented on #8
@GeorgDangl I'm afraid the CameraUp and CameraDirection vectors _have to_ be perpendicular to each other in a view. Take as example Revit's View3D documentation: http://help.autodesk.com/view/RVT/2016/ENU/?guid=GUID-A7FA8DBC-830E-482D-9B66-147399524442

[2015-12-08 14:31] alexandernesbitt opened #9 "How does BCFier identify and isolate components"
Hi Matteo,

Could you please advise as to what data BCFier is reading from the BCF to identify and isolate components within Revit?

I initially suspected it used the IfcGUID generated on export, after testing, It seems to be the element ID. Is this correct?

Thanks,
Alex

[2015-12-08 19:33] teocomi commented on #9
Hi Alex,
the elements are stored with their IfcGUID and Revit ID in the bcf viewpoint. But actually BCFier only uses the IfcGUID. In order to avoid redundant information when creating a view BCFier does the following:
- if the number of visible elements > hidden ones: stores all the hidden and selected elements (with relative visible/selected flags)
- if the number of visible elements < hidden one

[2015-12-17 13:09] StefanKraftMuM opened #10 "Creation Date of issue is not correct shown in BCFier"
In BCFier Standalone Version and in Revit Plugin 2016 I get the wrong creation Date of my issue. Have downloaded from Webpage at 17.12.2015 the BCFier Version 2.0.2.0. Create BCF-File in Solibri Model Checker with Version 2.0.
Creation Date in BCFier is shown 142 days ago 27.07.2015.
In BCF-File in the Markup.bcf the creation date is correctly:
<CreationDate>2015-12-17T13:55:33+01:00</CreationDate

[2015-12-28 21:59] teocomi commented on #10
@StefanKraftMuM can you please attach the .bcfzip file so I can check? Thanks

[2015-12-28 22:01] #8 closed, assigned to nobody

[2015-12-28 22:01] #9 closed, assigned to nobody

[2015-12-29 09:28] StefanKraftMuM commented on #10
[Präsentation.ZIP](https://github.com/teocomi/BCFier/files/73811/Prasentation.ZIP)

The date format is European (Year-Month-Day). The BCFier takes the Date and not the CreationDate. If I use another viewer as BCFManager it shows me the CreationDate and this is also the correct one, at which date I created the issue.
Do not know from which information it takes the Date.

<Header><File IfcProject="0

[2016-01-11 16:24] teocomi opened #11 ".BCFZIP files are not recognized by Solibri"
Latest releases of Solibri open .bcfzip files generated by BCFier as empty reports.

This seems to be a Solibri issue as if the .bcfzip file is manually extracted to a folder and re-zipped using Windows's default tool then the reports open fine.
The current version of BCFier uses System.IO.Compression, preious versions used https://dotnetzip.codeplex.com/ and it was working fine, so if Solibri doe

[2016-02-15 13:24] drgreb opened #12 "Exception is raised when view is being captured from schedule (Revit)"
![image](https://cloud.githubusercontent.com/assets/8932782/13049781/011f4d5c-d3f8-11e5-9b6a-cf9f17354d6b.png)

[2016-02-15 18:48] alexandernesbitt opened #13 "Isolating components from linked models (Revit)"
Hi Matteo,

I am having trouble isolating components from linked Revit files.

Scenario: Architect has linked the Structural RVT into theirs, they open the BCF and click on a viewpoint to view an issue of one of their doors hitting a Structural column, it will isolate the door but not that particular column.

Any ideas of what could be causing this issue?

Thanks,
Alex

[2016-02-16 11:28] drgreb opened #14 "Issues are wrongly sorted in navigator tab"
We have a naming convention for issues. Basically it is the discipline which is assigned for issue and 3 digit number.
![image](https://cloud.githubusercontent.com/assets/8932782/13075014/e294a198-d4b0-11e5-9a13-9a4923d9b06f.png)

[2016-02-16 11:32] drgreb opened #15 "BCFier can't find views"
The problem is following:
1. AR makes his model
2. EL links it and makes his design, but as he has comments and questions to AR, he's using BCFier to capture them.
3. If AR opens BCF file with EL comments, he can't open attached views (2d).

Is there a way to overcome it? Is it possible to open 3d view with section box and make multiple views with different section box sizes and still be able to o

[2016-02-16 13:15] teocomi commented on #13
Elements of linked models are not accessible via the API so cannot be isolated :(
Real bummer.

[2016-02-16 13:18] teocomi commented on #14
BCF does not currently have any property to preserve the sorting of the issues, as you can see from:
https://github.com/BuildingSMART/BCF-XML/issues/54

But maybe we could implement custom sorting from the BCFier UI (by date or title).

[2016-02-16 13:19] #13 closed, assigned to nobody

[2016-02-16 18:07] drgreb commented on #14
Yeah, probably UI sorting would be enough, because reading new order properties from BCF file and changing them is a resource demanding feature. Also, there could be few sorting options - by name, by assigned person (), possible priority of issue etc. It all can be implemented via software, while leaving BCF file a container role.

[2016-02-16 21:22] alexandernesbitt commented on #13
Thanks for the reply. Can you recommend any way around this? Would the consultants have to copy models?

[2016-02-16 21:32] teocomi commented on #13
I'm not aware of any good workaround, but sure that would work...

[2016-02-16 22:15] teocomi commented on #15
BCFier cannot create 2D views, so the view has to already exist in both models and have the same ID to be opened and exchanged via BCF. BCFier will then take care of zooming/pannig on the right part of the view. Is this the case?

[2016-02-16 22:32] drgreb commented on #15
Got it. Whats view ID? Name or GUID?
Can we create a plan in both models and name it, say, Level 1 Coordination, so that BCFier would find it?

[2016-02-17 08:53] drgreb opened #16 "Attached image scales with main window"
When you attach view to issue, view snapshot is being taken. Usually we crop it to reduce BFC file size, so it is relatively small. When you maximize BCFier window, image is scaled so you can no longer see it correctly.
![image](https://cloud.githubusercontent.com/assets/8932782/13104245/9da4d2ec-d564-11e5-9f78-ec9d6d1ef7ae.png)
![image](https://cloud.githubusercontent.com/assets/8932782/13104249/

[2016-02-17 09:02] drgreb opened #17 "Statuses do not change in lists"
When you edit statuses while issue is being selected, you can' tsee changes in dropdown. You need to click another issue to see changed statuses.
Also, if you open BCF with some statuses, wouldn't it be better to be able to use them, and not only ones from settings?

[2016-02-17 09:59] drgreb opened #18 "To save issue comment you need to click button"
Is it possible to aslo include Ctrl+Enter in this logic?

[2016-02-17 12:08] drgreb opened #19 "Tekla BIMsight does not show issue description correctly."
When you open BCF in bimsight, there are issues, but their names (topics) and descriptions do not show up.

[2016-02-17 13:47] teocomi commented on #15
It's the ElmentID assigned by Revit, so naming won't work right now, although we could expand its definition and have a fallback based on the view name...

[2016-02-17 13:54] teocomi commented on #16
Actually this was done on purpose to avoid images taking all the space, users can still click on the images to see them in real size. Ideally it would have a responsive layout that changes according to the window scale...

[2016-02-17 13:57] teocomi commented on #17
Agreed!

[2016-02-23 12:10] drgreb opened #20 "Issue deletion"
When you delete 1 issue message box could show it's name.

[2016-02-28 12:31] drgreb opened #21 "Issue priority"
There is a need for priority definition. What are the plans for that?

[2016-02-28 13:28] teocomi commented on #21
Priority is not part of the BCF schema yet https://github.com/BuildingSMART/BCF-XML

[2016-02-28 13:28] #21 closed, assigned to nobody

[2016-02-28 13:59] drgreb commented on #21
https://github.com/BuildingSMART/BCF-XML/blob/master/Schemas/markup.xsd
But what about string Priority field for topic?

[2016-03-23 15:40] johnw153 opened #22 "Linked Views in Revit 2016 Don't Match Original Screen Grab"
When a screen grab is added to a new item in the BCF, the view coordinates are supposed to be captured so that anyone clicking on the image in BCFier when the model is open in Revit are taken to the original view. This is not happening - the view displayed in Revit when clicking the screen grab is of the whole model. This is true even if a component was selected - the only difference being that ev

[2016-03-26 11:12] teocomi commented on #22
Hey @johnw153 that's definitely a bug, can you please provide more details and eventually sample files?

[2016-03-29 16:22] johnw153 commented on #22
Matteo

Many thanks for the response. Hope that you had a good Easter.

I’ve uploaded a Camtasia screen recording to try and explain the issue that we are experiencing.

I will need to get permission before I can let you have copies of the project files, but I will try my best.

John Warburton
BA (hons) DipArch RIBA
Architect
Northmill Associates Limited
1 North Parade
Parsonage Gardens
Manchester

[2016-03-31 09:32] teocomi commented on #22
@johnw153 cannot see the attachment, can you upload it to github or provide a link to it?
Does the issue happen only of that specific project or all? What version of revit?

[2016-05-05 07:01] kanthimathy opened #23 "<Filename> not exported in BCF created from revit plugin"
In markup.bcf, the <Filename> information is not present when bcf is created from revit plugin. Can this  be made available in a future fix?
Thanks

[2016-05-06 18:57] teocomi commented on #23
Sure, will add in the next release.
Thanks

[2016-05-18 22:46] MichaelAUNZ commented on #22
Hi.

I have come across the same issue.
Has this been reviewed?

[2016-05-19 10:56] teocomi commented on #22
@johnw153  @MichaelAUNZ I need more information about this issue:
- in what type of views are you having this issue? Isometric (default 3D) or Perspective ones?
- where were the views generated? In BCFier or other software?
- what version of Revit and BCFier are you using?
- does it happen always or only a few times?
- have you tried on a "clean" new sample model?
- was the geometry generated in R

[2016-05-19 11:12] #23 closed, assigned to nobody

[2016-05-19 13:22] teocomi commented on #20
Implemented, will go out in the next release.

[2016-05-19 13:22] #20 closed, assigned to nobody

[2016-05-19 14:36] teocomi commented on #10
Implemented, will go out in the next release.

[2016-05-19 14:36] #10 closed, assigned to nobody

[2016-05-19 15:09] teocomi commented on #18
Implemented, will go out in the next release.

[2016-05-19 15:09] #18 closed, assigned to nobody

[2016-05-19 15:30] teocomi opened #24 "Integration with Navisworks"
BCFier needs integration with Navisworks, this will be done using source code from the CASE/WeWork Issue Tracker:

https://github.com/WeConnect/issue-tracker

[2016-05-19 15:31] teocomi opened #25 "Integration with JIRA"
BCFier needs integration with JIRA, this will be done using source code from the CASE/WeWork Issue Tracker:

https://github.com/WeConnect/issue-tracker

[2016-05-19 15:32] teocomi opened #26 "Support for Revit 2017"
BCFier needs integration with Revit 2017, this will be done using the MultiVersion project structure in the CASE/WeWork Issue Tracker:

https://github.com/WeConnect/issue-tracker

[2016-05-19 16:47] teocomi commented on #26
Implemented, needs testing

[2016-06-14 12:51] rudibeerepoot opened #27 "BCF file created in Revit -> is not visible after import Tekla"
A colleague created a couple of notes in Tekla BimSight and created an BCF file.
I opened the BCF file in Revit and created some reactions on the notes.
After loading the BCF file back in Tekla BimSight I didn't see any changes i made in Revit.
How is this possible?

[2016-06-14 20:09] teocomi commented on #27
Thanks for you feedback @rudibeerepoot, what version of the software (revit/bcfier/tekla) were you using? It could be a bug in BCFier, but in my past experience I have also seen Tekla not consuming BCF files properly.

[2016-06-17 13:22] rudibeerepoot commented on #27
Hi, i am using:
Revit 2016,
BCFier 2.0.2.0
Tekla 1.8

[2016-06-22 19:50] teocomi commented on #27
Hi @rudibeerepoot , it seems like that could be due to a missing bcf "status". Can you please try and let me know if it temporarily solves the issue?

Also, bimsight 1.9.7 is available, you might want to update.

![image](https://cloud.githubusercontent.com/assets/2679513/16281144/d7e37350-38ba-11e6-85df-b795aebf26a5.png)

[2016-06-22 19:52] teocomi commented on #27
Also, bimsight 1.9.7 is available, you might want to update.

[2016-06-24 10:06] rudibeerepoot commented on #27
Hi,

I have upgraded my Tekla to version 1.9.7
After upgrading and testing i got this error:

[cid:image002.png@01D1CE10.D1FE0820]

I can stil make bcf files in Tekla, but i can’t open bcf files made in Revit in Tekla.

Greets,

Rudi Beerepoot
BIM Specialist
T (0229) 29 15 16
E r.beerepoot@schoutentechniek.nlmailto:r.beerepoot@schoutentechniek.nl

Van: Matteo Cominetti [mailto:notifications@github

[2016-06-24 10:50] teocomi commented on #27
Please attach the image from github as it didn't come through.

[2016-06-24 10:54] rudibeerepoot commented on #27
![tekla error bcf import from revit](https://cloud.githubusercontent.com/assets/19929773/16336067/c2dc8ebe-3a0a-11e6-9164-67d273534644.PNG)

[2016-06-24 15:15] teocomi commented on #27
Please provide a .bcfzip file too as I cannot replicate. Thanks

[2016-06-27 07:17] rudibeerepoot commented on #27
In the attachment a test project with the Revit project, the IFC and the BCF file from Revit.

https://we.tl/10JDqdk4qj

[2016-07-14 09:33] Siulum commented on #27
Hey Guys

We are testing BCF format between Tekla 2016 and Revit 2016 as well. And we have the same problems. I can see all the issues in Revit also updated issues and comments both from Tekla 2016 and Tekla BIM Sight.
We can't see updated comments out of Revit in Tekla.
We can attach all bcf-files from Tekla to BIM Sight. For some reason we could only attach a few bcf-files out of Revit in BIM Si

[2016-07-16 16:51] teocomi commented on #27
@Siulum @rudibeerepoot the only BCF statuses supported by Tekla BIMSight are: Error, Warning, Info, Unknown. If any of the comments uses a different status the import will fail. This is because Tekla only supports BCF v1 while BCFier also supports BCF v2.

Please try again and let me know.

![image](https://cloud.githubusercontent.com/assets/2679513/16895978/d6a085d4-4b7d-11e6-88cd-832e3354d1ea.pn

[2016-07-16 16:51] #27 closed, assigned to nobody

[2016-07-21 16:36] Noxalus opened #28 "Crash importing a custom BCF file"
Hello,

I'm trying to import a BCF file generated from another software to Revit using this plugin, but Revit systematically crash with no error message.

Here is the file that I try to import => https://mega.nz/#!xh1hHQ5J!WM8zYTlOJAgZC7TIg0wh7dlscQNFzqPmVbgcZNo_0lQ

Do you know what is wrong with this file?

[2016-07-21 20:29] teocomi commented on #28
Hi,
the bcf provided is not formatted correctly. It is supposed to contain some snapshots but none are included. Where was it generated?
I've fixed the issue in BCFier and from the next version it won't crash.

![image](https://cloud.githubusercontent.com/assets/2679513/17037677/eb483ddc-4f89-11e6-93cd-05ef2794ba5c.png)

[2016-07-21 20:29] #28 closed, assigned to nobody

[2016-07-21 20:34] #26 closed, assigned to teocomi

[2016-07-21 20:35] teocomi commented on #19
This is a limitation of Tekla BIMsight, it does not use the topics and description.

[2016-07-21 20:35] #19 closed, assigned to nobody

[2016-07-21 20:35] #16 closed, assigned to nobody

[2016-07-21 20:37] #3 closed, assigned to nobody

[2016-07-21 20:39] Noxalus commented on #28
Thanks a lot for your answer!

In fact, I'm currently writing the BCF generator that generated this file and I've tested it with DDS-CAD Viewer, in which I have no problem to load this BCF file.

[2016-08-03 08:21] Siulum commented on #27
Hi Teocomi

thx for the info. Tekla Structures uses BCF2.0 as well. TeklaBIM Sight only BCF1.0 :(

For sharing of BCF2.0 between Revit and Tekla it iis important to fill the

The Status column in Tekla is not filled when using statuses from the combobox!

Kind Regards

Michael

[2016-08-05 12:51] teocomi commented on #11
It appears that the zip files generated with System.IO.Compression are the issue.
Will implement the fix below:

http://stackoverflow.com/questions/27289115/system-io-compression-zipfile-net-4-5-output-zip-in-not-suitable-for-linux-mac

[2016-08-05 16:09] #11 closed, assigned to nobody

[2016-10-12 15:09] alexandernesbitt opened #29 "BCF v2.1 changes"
Hi Matteo,

Just wondering if you are working through aligning with the [schema changes release in August 2016](https://github.com/BuildingSMART/BCF-XML/blob/master/ChangeLog.md)? The only major one that is effecting me is:

Could you please update and point the VerbalStatus to TopicStatus instead?

Cheers,
Alex

[2016-10-12 19:16] teocomi commented on #29
Hi Alex,
BCF 2.1 is still a draft so I won't be implementing the new features yet. Also, I haven't set any timeline on BCFier, but if you need any specific developments I am available for contract work.

Thanks

[2016-10-12 22:54] alexandernesbitt commented on #29
Thanks Matteo, completely understand that this is a side project and will definitely keep in mind your availability for work.

[2016-11-02 08:50] astanfor opened #30 "Hiding a model when selecting issue"
When I select an issue from the BCF plugin window for Revit it is only showing the m&e and not the clashing structure model? is there a setting to ensure all models show?

![image](https://cloud.githubusercontent.com/assets/23194570/19922159/4b47f538-a0d9-11e6-88f9-97f99b395e9c.png)

[2016-11-02 11:15] jsdbroughton commented on #30
Sorry to chime in as i'm not maintaining this repo, but I have some tangential information.

This has come up in discussions with the Revit API and Dynamo groupies. There is no API method to isolate elements within linked models. A workaround discussed has been that you would need to bind in the structural model into a separate Workset each time they updated it. you might then be able to get the r

[2016-11-02 23:01] jsdbroughton commented on #24
Still looking for help?

[2016-11-02 23:02] jsdbroughton commented on #25
Still looking for help?

[2016-11-03 10:44] teocomi commented on #24
Hey @stardotbmp , I definitely am, development has been slow lately.
The dev branch already contains a basic Navisworks project, the main challenge now is to integrate the functionalities from the Case Issue Tracker to the BCFier interface: creating BCF issues from the clash results and/or from the viewpoints, and then view them.
Let me know what your availability is, so we can discuss this and #2

[2016-11-03 10:47] teocomi commented on #30
If it's a liked model it's exactly what @stardotbmp mentions, see also #13.

[2017-01-30 07:30] JPTrehen opened #32 "Statute of comment are not saved"
Hi,

It seems that statute and comment are not saved. Each time you reopen the file, all statutes are reinitialized to the 1rst item of the list (options)

Regards.
Great job !

[2017-01-30 13:38] teocomi commented on #32
Hi @JPTrehen have you added the statuses manually in settings and saved the configuration or simply opened a file?

[2017-04-21 03:42] shahnizammy opened #33 "BCFier does not crop the view (Assistantance Needed)"
Hello,

I installed the BCFier plugins into my Revit 2016, but it cannot crop the view in 3D view based on my BCF 2.0 file that I generate from Solibri Model Checker.

I already switch ON the Section Box in my 3D View, but end up the same problem. It just zooms to the component that contains the issues.

But, you already created the awesome software that might can collaborate the issues among the

[2017-04-24 10:51] teocomi commented on #33
Hi @shahnizammy, I'm not sure I understand correctly your problem.
Are the views generated in Solibri having a different zoom inside of Revit? Is this the problem?
Can you please post some screenshots?

[2017-05-26 11:10] berndhahnebach opened #34 "plug in for xbimxplorer"
Hi Matteo ,
I have been searching for some OpenSource implementation for BCF. I was quite excited to find your BCFier. It is a great small tool. It really is a pitty it is in C#. Since I'm a Linux guy I do not know any C#, means contributing is rather difficault. Apart from this I do not develop on Windows but work (have to work) quite a lot on Windows too ...  Means BCFier may be of great use for

[2017-05-26 13:34] teocomi commented on #34
Hi @berndhahnebach I'd be curious to know what linux software you were planning to use BCF with!

@CBenghi has developed the plugin for xbimxplorer, but it's not included in the installer, he can probably give you more information on how it works...

[2017-05-26 14:13] CBenghi commented on #34
Thanks for your interest.
I have to document this properly.
I'll do it during the weekend and come back to you.

[2017-05-26 15:27] berndhahnebach commented on #34
hi guys thanks for your quick response.
I'm starting to work with bcf. Since I'm on Linux and Windows I prefere software which runs on both systems. On FreeCAD forum we where discusing if it makes sense to to sone development in this regard.

https://forum.freecadweb.org/viewtopic.php?f=23&t=22641

cheers bernd

[2017-05-29 12:11] berndhahnebach opened #35 "support for 3D view, and objects in standalone viewer"
Hi,

you explicit say on your web BCFier standalone does not support 3D view. This is a pitty. I would like to edit some BCF, but than the 3D-view and the objekts in the BCF are lost on resave.

cheers bernd

I really like this App, it is great to control what's in the BCF you exchange. It's a unix style of working, one process one simple app. :-)

[2017-05-29 16:05] berndhahnebach commented on #34
I have been playing around with BCF the whole day ....

BIMSight my favorite IFCsoftware does not support version 2, neither import nor expor (it seam they stop devlopment (timble bought tekla)). For solibri you need a special viewer to support bfc. BIM+ one of the plattform we use and able to handle bcf can not handle version 2 properly (no multiple screens) and and and. Eventually I did not foun

[2017-05-29 17:19] CBenghi commented on #34
@berndhahnebach,
I've not had time to document the process properly, so I'll write here a few instructions for you.
Please note that the following steps are still unstable and I'm revising them in the coming weeks.

1. Setup Xplorer from http://docs.xbim.net/downloads/xbimxplorer.html
2. Once installed go to View/settings and then the Plugins tab.
3. Select "Development" in the plugin display filt

[2017-05-30 12:56] berndhahnebach commented on #35
I have been working with BCFier for more time now. I realized by clicking on the right to corner of the view there is a button to print the objects.

I tried adding more views and saving the BCF and reloading it. The objects from the first view are still there means on the contrary to the website the standalone BCFier has support for the 3D view and objects.

BTW: if I click on a picture which was

[2017-05-30 12:58] berndhahnebach opened #36 "German translation"
How about translation?

I'd be interested in translate the BCFier into German. I never did it on C# project.

Are you interested in translate BCFier into several languarges?

cheers bernd

[2017-05-31 09:57] teocomi commented on #36
Hi Brend,

localization is not one of the priorities at the moment, if you want to give it a try it doesn't seem to be too challenging: https://www.codeproject.com/Articles/299436/WPF-Localization-for-Dummies

[2017-05-31 11:04] teocomi commented on #35
Thanks for your feedback, BCF files do not contain any information on the geometry, that's why BCFier is not able to support 3D views.
This could be achieved passing models files, ie IFC, along with the BCF, but it kinda defeats the use of such a lightweight format...

[2017-06-01 10:20] berndhahnebach commented on #35
We missunderstood.

I know the difference betweed a ifc model viewer ( ifc++ for Linux as an example https://github.com/berndhahnebach/IfcPlusPlus) and an BCF viewer.

BCF files contain the viewpoint and object GUID of the objects which belong to the BCF.

Since on your homepage is written BDFier stand alone viewer does not support model view I assumed StandAllone BCFier does delete the view point

[2017-06-01 10:22] berndhahnebach commented on #35
Still there is an problem. If you add an image to a issue. This immage has no view point, It can not, because BCFier can not set a view point because it is not a model viewer. But since ther is no view point BCFier creates an exception. This should be catched in my point of view? See screen before. Should I open another issue to be clear or should we leave it here.

bernd

[2017-06-08 10:43] berndhahnebach commented on #34
tested the xbimexplorer and with BCFier plug in ...

In the regard of xbimexplorer, wow what a great tool, and it is OpenSource, but it is C# ... Such a pitty it does not run on Linux even it is OpenSource. Have you ever done a C# port with mono?

In the regard of the BCFier plug in. It opens the BCFier in xbimxplorer, thats great but it does not give any better user experience compared to the sta

[2017-06-09 16:06] CBenghi commented on #34
@berndhahnebach,
I'm not sure I understand the question, maybe you can open an issue on my page
https://github.com/CBenghi/BCFier/issues
with a bit more of detail.
Cheers

[2017-06-14 11:04] textilesense opened #37 "BCFier uninstallation"
Hi all. I tried to install BCFier, but when I opened a BCF file an error message popped up saying another application was using data. Definitely the add-in did not work. I unistalled it, by both cancelling BCFier folder from C/Program files/Autodesk/Revit2017/Add-ins/BCFier folder and then by uninstalling from Control Panel (I installed both the stand alone version and the Revit 2017 plug-in). Whe

[2017-06-14 11:38] teocomi commented on #37
Hi, I'm sorry to hear that it's not working for you. Do you have additional information to help me debug the issue? Was Revit open when installing/uninstalling? Do you have admin rights on the machine? Any other versions of BCF/BCFier?

You can manually remove the Revit addin from:
C:\ProgramData\Autodesk\Revit\Addins\2017
ProgramData is a hidden folder.

[2017-06-14 13:33] textilesense commented on #37
I found the hidden folder Program Data, I cancelled the BCFier folder, but now when I open Revit this message pops up: "the publisher of this add-in could not be verified. What do you want to do?". I chose "Do not load", so when I open a project the BCFier icon doesnt'appear, but when I close it and open again Revit, the message is shown again. Is there a way to fix it and then try to succesfully

[2017-06-14 13:59] teocomi commented on #37
If you have deleted the BCFier folder and .addin file in ProgramData\ there should be no other traces on your machine. Are you sure that error is referring to BCFier? Can you post an image?

[2017-06-14 14:09] textilesense commented on #37
Ecco!!! Sono italiano anche io.

![screenshot 4](https://user-images.githubusercontent.com/6705150/27136505-66afd094-5113-11e7-8774-8a8049a9206c.jpg)

[2017-06-16 10:32] textilesense commented on #37
Thanks for your help Matteo, I could fix everything. Unfortunately after cleaning up and then reinstalling BCFier, when I Try to open a BCF file, another message pops uo saying: "The process cannot access the file C:/Users/myname/AppData/Local/Temp/BCFier/a long alpha-numeric serial/another long alphanumeric serial/viewpoint.bcfv beacuse it is being used by another process". Is this maybe beacuse

[2017-06-16 10:49] textilesense opened #38 "The process cannot access the file ... viewpoint.bcfv"
Hi  @teocomi   I have another issue.  When I Try to open a BCF file with BCFier, a message pops uo saying: "The process cannot access the file C:/Users/myname/AppData/Local/Temp/BCFier/a long alpha-numeric serial/another long alphanumeric serial/viewpoint.bcfv beacuse it is being used by another process". Is this maybe beacuse the AppData folder is a hidden one? I have no other applications open b

[2017-06-16 12:23] teocomi commented on #38
Hi, it's definitely not because of the hidden folder. Try to restart your pc and open the bcf again.

[2017-06-16 12:26] teocomi commented on #37
Closing this as you opened another one.

[2017-06-16 12:26] #37 closed, assigned to nobody

[2017-06-16 14:06] textilesense commented on #38
I restarted my pc, but I still receive the message... This is with the stand alone version, but the situation is identical while trying to use the Revit add-in

[2017-06-16 14:38] teocomi commented on #38
That is very unusual, can you please share the .bcfzip file you are trying to open? If the upload doesn't work here, send it to hello@teocomi.com

[2017-06-19 09:18] blecrioux commented on #14
Hello,
we're using BCFier on Revit and we have the same problem to sort issue. Since the previous post (febrary 2016), is there any update to sort issue by name or status?

[2017-06-26 09:26] teocomi commented on #14
Hi @blecrioux unfortunately there is no timeline and I'm not expecting to be able to work on BCFier in the short term, but there might be contributions from others.

[2017-07-03 12:47] berndhahnebach opened #39 "error on load of a bcf"
I got an error opening a bcf saved with Allplan BIM services BIMPlus ...

![screen](https://user-images.githubusercontent.com/6129869/27793475-78182e7c-5ffe-11e7-8d43-8e201b7e1e3c.jpg)

remove.txt
[testprj-testtask.bcfzip.txt](https://github.com/teocomi/BCFier/files/1119538/testprj-testtask.bcfzip.txt)

I can not tell whtat's wrong BCFier or Allplan ...

bernd

[2017-07-04 22:39] teocomi commented on #39
Unfortunately their BCF file is not formatted correctly, according to the XML schema specifications boolean values have to be in lowercase: https://www.w3.org/TR/xmlschema-2/#boolean

[code]

[2017-07-04 22:39] #39 closed, assigned to nobody

[2017-07-18 07:04] SethMWu opened #40 "using Revit viewer mode -> create snapshot not possible"
Using Revit viewer for our structural engineers and project leads is a real handy option.
However, use of BCFier is not supported in this mode :(
When creating a view for an issue it immediately gets an error and doesn't produce a screenshot.
Can this be fixed? Or is creating a screenshot linked to locked options when in Viewer mode?

[2017-07-18 10:14] teocomi commented on #40
Hi, I've just tried and I didn't get any error. What version are you using? Can you post a screenshot of the error?

![image](https://user-images.githubusercontent.com/2679513/28312218-4a0b8594-6baa-11e7-98ef-54d00c483e77.png)

[2017-07-18 11:54] SethMWu commented on #40
Apologies. Retested it and now there doesn't appear to be an error.
I think it occured because I updated a 2016 model to 2017 in Viewer mode.
Then it gave errors when creating a screenshot, probably because it wanted to save to 2017 first :)

[2017-07-18 11:54] #40 closed, assigned to nobody

[2017-07-18 13:49] teocomi commented on #38
Closing issue as no additional info was provided.

[2017-07-18 13:49] #38 closed, assigned to nobody

[2017-07-18 13:52] #34 closed, assigned to nobody

[2017-07-18 13:53] teocomi commented on #33
Closing issue as no additional information was provided.

[2017-07-18 13:53] #33 closed, assigned to nobody

[2017-07-18 13:55] teocomi commented on #32
Closing issue as no additional info was provided.

[2017-07-18 13:55] #32 closed, assigned to nobody

[2017-07-18 13:56] #30 closed, assigned to nobody

[2017-07-18 14:13] #12 closed, assigned to nobody

[2017-07-24 13:23] berndhahnebach commented on #39
Thanks for pointing this out. I got in condact with development of BIM+

cheers bernd

[2017-08-07 15:48] teocomi opened #41 "Installer for XbimXplorer"
Hey @CBenghi , I'm about to roll out a new version of BCFier with some improvements. Should I include support for XbimXplorer in the installer? If so how? I'm not familiar with it...

[2017-08-07 17:21] teocomi commented on #29
@alexandernesbitt I've implemented most of the BCF 2.1 features in a new beta version, please let me know if you have a chance to test it: https://github.com/teocomi/BCFier/releases/tag/2.2.0beta

[2017-08-07 17:22] teocomi commented on #14
@drgreb I've implemented BCF 2.1 sorting in a new beta version, please let me know if you have a chance to test it: https://github.com/teocomi/BCFier/releases/tag/2.2.0beta

[2017-08-10 12:53] #29 closed, assigned to nobody

[2017-08-10 12:53] #17 closed, assigned to nobody

[2017-08-10 12:53] #14 closed, assigned to nobody

[2017-08-10 12:54] #22 closed, assigned to nobody

[2017-08-14 09:22] blecrioux commented on #14
Hi @teocomi
I tested beta version 2.2.0 and it seems that sorting issues works correctly. Thank you very much! :)
A other possibility could be very interseting too: sorting issue by topic status or topic type. Do you think it's possible?

[2017-08-15 10:43] teocomi commented on #14
@blecrioux yes definitely, will add a new feature request, but won't be able to address it in the short term...

[2017-08-15 10:44] teocomi opened #42 "Sort issues by title, date and other fields"
New feature request

[2017-08-18 05:53] emrazek commented on #39
Problem is fixed

[2017-08-18 06:27] berndhahnebach commented on #39
:-)  thanks, Eduard for giving feedback here and to me per email.

[2017-08-23 12:04] CBenghi commented on #41
Hello,
sorry for the late reply I was on holiday.
No need to do anything in the installer; plugins have an online update system, I'll have to merge your code changes and push the library to our online repo.

Thanks for letting me know.
I'll keep you posted.

Claudio

[2017-08-23 13:07] CBenghi commented on #41
I've merged your latest changes to my repository.
I'll make the plugin available to Xplorer soon.

I wonder if it would instead help to distribute your core libs as a nuget package; updates to third parties might be simpler, but maybe it's overkill.

Thanks,
Claudio

[2017-08-31 09:40] teocomi commented on #41
Hi Claudio, it's a good idea but yes, it might be overkill for now given that as far as I know only Xplorer is using BCFier.

[2017-09-01 11:16] CBenghi commented on #41
On the other hand, once the package is in nuget more people might use it, and it's very little effort to add a nuspec file to the project.
I can give it an initial look if you wish and send a PR if it works.
You'll have to create a nuget user, though, I think it would be better for IP if it was done in your name.

[2017-09-01 11:29] teocomi commented on #41
Sounds good, we've got nothing to lose. Appreciate that.

[2017-09-05 09:02] teocomi opened #43 "Option to not crop viewpoint images"
To be implemented

[2017-09-05 12:27] CBenghi commented on #41
Hello,
I've started looking into the nuget packaging this morning and one thing seems odd in the architecture.
All other projects are marked 'InternalsVisibleTo' from BCFier.

I think this should be changed (something made available as public) to make the API usable to others.

XbimXplorer uses the following:

'AddView' does not contain a definition for 'Issue'
'AddView' does not contain a definit

[2017-09-14 10:07] teocomi commented on #41
Hi Claudio,
yes I guess that decision was made when BCFier wasn't Open Source yet, feel free to change the signature.

[2017-09-14 13:37] CBenghi commented on #41
Got it, thanks.

[2017-11-01 06:50] archjahz opened #44 "Doesn't work with Revit 2017"
Once I create a new issue or open an existing BCF file, Revit 2017 crashes.
I tried a blank project, an existing project, and the Revit sample architectural project and got the same result.

I tried it with Revit 2018 and it works fine.

Hope this gets fixed.

[2017-11-01 17:44] teocomi commented on #44
Hi, just tried with 2017 and had no issues, maybe it's a compatibility problem with other addins? Can you try disabling them? Are you using the latest version 2.2.0?

[2017-11-19 12:18] mgrzelak opened #45 "Building Problems"
Hi there,
I installed BCfier by installer. Then I tried to build module for Revit which worked fine. I then copied the BCfier.Revit.dll and BCFier.dll to C:\ProgramData\Autodesk\Revit\Addins\2016\Bcfier.Revit.

I did not change source code. Just tried if it works. Add-in opened but crashed after I clicked "New Bcf" button. I used Revit 2016, Windows 7, 64 bit.
Is it the proper procedure to update

[2017-11-20 08:20] NicklasOestergaard opened #46 "list elements id's in view"
I miss a way to see the objectid for all objects included in the view/issue.

[2017-11-20 08:22] NicklasOestergaard opened #47 "Revit addin - Isolate elements in view"
I would love to see a way to isolate element in view. I would line this to be a setting you could turn on and of in the settings.

[2017-11-20 16:59] teocomi commented on #45
Sorry the documentation is not up to date.
When you build the project you need to select the right build configuration and the dlls are automatically copied to the right destination (see inside the revit .csproj file for more info).
Your build probably crashes as you didn’t copy some required files.

[2017-11-22 22:25] mgrzelak commented on #45
Matteo,
thank you for the fast response. I changed the build configuration and everything worked out well.

[2017-11-22 22:25] #45 closed, assigned to nobody

[2017-11-29 13:23] berndhahnebach opened #49 "BCFier does not find components in a BCF exported by BIMCollabZoom"
see title
- open bcf
- in the viewpoint click on view components
- nothing is shown, but there are a lot and one is selected

bernd

remove .txt
[test.bcfzip.txt](https://github.com/teocomi/BCFier/files/1513922/test.bcfzip.txt)

![zoom](https://user-images.githubusercontent.com/6129869/33377173-ce5af2b0-d510-11e7-9820-e6669e854fed.jpg)

![bcfier](https://user-images.githubusercontent.com/6129869/3

[2017-12-04 11:39] teocomi commented on #47
Elements visibility and selection should be handled automatically, is it not the case for you?

[2017-12-04 11:40] teocomi commented on #44
Closing as no answer was provided.

[2017-12-04 11:40] #44 closed, assigned to nobody

[2017-12-04 11:45] NicklasOestergaard commented on #47
No, the elements are selected but not isolated.

[2017-12-08 03:57] alexandernesbitt commented on #25
Happy to help where I can.

[2017-12-09 19:18] teocomi commented on #25
Thanks, current plan is to merge BCFier with the Arup fork of the issue tracker: https://github.com/ArupAus/issue-tracker
You interested in taking on some development?

[2017-12-10 08:23] jsdbroughton commented on #25
Still interested.

On Sat, 9 Dec 2017 at 19:18, Matteo Cominetti <notifications@github.com>
wrote:

[2017-12-13 00:05] teocomi commented on #25
@stardotbmp how would you like to contribute? We can coordinate via email if you'd like hello@teocomi.com

[2017-12-19 08:30] jbenoit44 opened #50 "Revit 2018.2: crash when creating a new BFC file"
After starting a project, addins opens correctly, but after the hit of new BCF button, Revit 2018.2 crashes.

[2017-12-19 08:34] jbenoit44 commented on #50
same result if I try to open an existing file

[2017-12-19 11:16] teocomi commented on #50
Hi Julien, I have it running fine on 2018.2, what version are you using? Installed from the installer?

[2017-12-19 11:49] jbenoit44 commented on #50
yes, installed from the exe file

[2017-12-19 11:56] jbenoit44 commented on #50
same version runs fine with 2017 on this laptop

[2018-01-26 13:25] jazone opened #51 "bcfier for Navisworks Compilation error"
Hi @teocomi ,
I'm trying to compile the addin for Navisworks.
I'm getting this error :
'Components' does not contain definition for 'Any [...] (missing using or assembly?)' (translated from french)
Apparently no 'Any' methods are existing in the visinfo.cs file...
What can I do to fix this and install the addin in Navisworks?
Thanks in advance

[2018-01-26 13:38] teocomi commented on #51
Hi, there is currently no release for Navis....

[2018-01-26 13:38] #51 closed, assigned to nobody

[2018-05-17 12:26] berndhahnebach opened #53 "BCFier portable"
I tried to unpack the exe of BCFier but it is not an known achive.

I do not have Administrator previlegs on every computer I work on. Is it possible to somehow get an portable BCFier for windows which do not need an installation?

cheers Bernd

[2018-05-21 19:37] teocomi commented on #53
Hi, you can use the dll that are placed on a machine after the installer runs.

[2018-08-14 13:07] Solidu opened #54 "import BCF 2.1"
The stand alone does not import *.bcf, only *.bcfzip

![bcfier_2-2](https://user-images.githubusercontent.com/9303744/44093354-a2e426e0-9fd3-11e8-9df4-64a06e504c8e.png)

[2018-08-14 16:18] teocomi commented on #54
Hi the .bcf file format is assigned to the Markup file which should be included inside a .bcfzip: https://github.com/BuildingSMART/BCF-XML/tree/master/Documentation
Please let me know if this is not the case.

[2018-08-15 10:31] Solidu commented on #54
![bcf](https://user-images.githubusercontent.com/9303744/44144281-1bf69456-a087-11e8-965e-25cfb9688ab7.PNG)

[2018-08-19 10:24] Solidu opened #55 "Unable to import *.bcf"
When creating a report from Solibri in version 2.1, the file extension is .bcf and not .bcfzip. This file cannot be imported with BCFier

[2018-08-19 10:32] #53 closed, assigned to nobody

[2018-08-19 10:33] teocomi commented on #55
Same as #54.

You can change file extension for now.

[2018-08-19 10:33] #55 closed, assigned to nobody

[2018-08-19 10:35] teocomi commented on #54
You can change file extension for now and it should open correctly.

[2018-08-19 10:46] Solidu commented on #54
Ok, so it will be a workaround for now. Will it be fixed with an update and can you tell me when this will be? I love working with BCFier but this extra effort does not make my work efficient

[2018-08-19 19:06] teocomi commented on #54
Can’t guarantee any timeframe as I’m not actively maintaining the project.

[2019-04-09 13:09] yoyomule opened #56 "upload images from the clipboard"
Great project. There is a suggestion that can upload images from the clipboard when you want to upload an external image. In addition, I saw that you also provided a stand-alone program. I don't know if you can get the id and screenshot from which software to activate the software window. For example, in both revit and autocad, you can get screenshots and locations at will. Thanks.

[2019-06-05 09:39] cwaluga opened #57 "ElementId as AuthoringToolId may be unstable in Worksharing context"
ElementIds may be rearranged in worksharing synchronization due to conflicting Ids. This happens quite often. See also:
https://thebuildingcoder.typepad.com/blog/2015/02/understanding-the-use-of-the-uniqueid.html

Since Bcfier has no (obvious) way to update ElementIds from IfcGuids (which would require a loop over all elements), this might break some issues in a worksharing context.

Is it possibl

[2019-06-08 13:34] teocomi commented on #57
Hi @cwaluga I'm not actively maintaining the project, but if you need such a change I can have a look.
Would you need BCFier to just write out UniqueIds in the AuthoringToolId field?

[2019-06-10 08:54] cwaluga commented on #57
Hi @teocomi. Thanks for your answer.
I can do this small change myself, so no need for you to take action. I posted this here in case that someone in the future finds the time to continue this project. It is a really small change which can make component handling more stable. In case element IDs are reordered, the only chance you have to recover the authoring ids is to loop over all elements and c

[2019-06-13 16:18] teocomi commented on #57
Sounds good to me! BCFier already does some looping over IFCguids, but not for what you ask, if I'm correct: https://github.com/teocomi/BCFier/blob/05866ed80ce1bdb54bbf70d6d0c0064eebc7e654/Bcfier.Revit/Entry/ExtEvntOpenView.cs#L202

[2021-01-09 09:11] CBenghi opened #61 "BCF v. 3.0"
Hello @teocomi,

If you ve been following the works on the new version of BCF, you might know that we're close to finalising 3.0 on https://github.com/buildingSMART/BCF-XML

In the coming days I'll be trying to update BCFier to support that version. I assume this is ok for you as I think you're no longer maintaining the project, but let me know if you feel otherwise.

And, of course, let me know i

[2021-01-10 16:26] teocomi commented on #61
Hey @CBenghi ,

Thanks, that would be great indeed! I don't have the time to keep up with BCF and properly maintain BCFier at the moment, but I'm more than happy to review and assist as much as I can. I've also added you as a contributor, so you don't have to fork.

Beware that the code might be a bit messy and sub-optimal, after all it was originally written by a much less experienced and younger

[2021-01-11 09:06] CBenghi commented on #61
Thanks @teocomi ,

this is exceptionally kind of you. I've accepted the invitation, but for caution I think I'll go through a PR for significant changes.
I'm not sure if I'll need all versions of Revit and Navisworks to prevent issues on those projects as well. I'll give it a go in the coming days.

I'll keep you posted.
Claudio

[2021-01-11 15:06] teocomi commented on #61
Navis was never really completed, you can ignore it! To build Revit you should just need the nugets, and I can help with some testing.

[2022-02-22 12:42] heinrichboldt opened #64 "Future developing? when avaliable for Revit 2022"
Hi,
have given a try, and love the tool.
but since many month there is no update

Will be further developing also for 2022 and maybe in few month for 2023?

BR
Heinrich Boldt

[2022-02-22 14:00] teocomi commented on #64
Hey Heinrich,

Thanks for the suggestion, the project is not being actively developed but I'll give it a go at adding Revit 2022 this week!
BTW we're planning to add BCF like functionality to Speckle sometime soo, check it out: https://speckle.systems/

[2022-02-23 16:32] heinrichboldt commented on #64
Hi
thanks for quick reply.
Have heard about speckle.systems. but since we need to work in our project to solve reported issues this might be not usable for us

[2022-02-23 17:03] teocomi commented on #64
Ok, this should do for now :)

https://github.com/teocomi/BCFier/releases/tag/v2.2.2.1

[2022-02-23 17:03] #64 closed, assigned to nobody